.nav{
    background-color: antiquewhite;
    min-width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cat img{
    width: 300px;
    height: 150px;
}
.logo img{
    width: 55px;
    margin-right: 5px;
}
.nav input{
    border-radius: 10px;
    width: 500px;
    min-height: 30px;
    text-align: center;
}
.areavideo{
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 0, 0.5),
        rgba(0, 0, 255, 0.5)
      );
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
}
#descrip{
    width: 70%;
    min-height: 180px;
    border-radius: 15px;
    background-color: antiquewhite;
    padding: 10px;
}
.video{
    width: 85%;
    min-height: 50px;
    display: none;
    flex-direction: column;
    align-items: center;
}
.video h3{
    max-width: 70%;
}
#num3{
    display: flex;
}
.right-section{
    background-image:linear-gradient(
        to bottom,
        rgba(255, 255, 0, 0.5),
        rgba(0, 0, 255, 0.5)
      ), url("../Img/BackMore.jpeg");
    opacity: 15px;
    max-width: 50%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mini{
    color: white;
    width: 85%;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 2px;
}
